@model ImageUrlWithPreviewFormComponent
@{
    const string formControlClass = "ktc-form-control";
    const string validationMessageClass = "cmp-validation-msg";
    const string imagePreviewClass = "cmp-image-preview";

    var initialImageUrl = string.IsNullOrWhiteSpace(Model.Url) ? Model.PlaceholderImageUri : Model.Url;
    var controlGuid = Guid.NewGuid();
}

<div data-control-instance-id="@controlGuid">
    @Html.TextBoxFor(m => m.Url, new { @class = formControlClass })
    <span class="@validationMessageClass"></span>
    <img src="@initialImageUrl" class="@imagePreviewClass" />
</div>

<script>
    myCompany.formComponents.imageUrlWithPreview.init({
        identifier: "@controlGuid",
        controlClassName: "@formControlClass",
        validationClassName: "@validationMessageClass",
        imagePreviewClassName: "@imagePreviewClass",
        placeholderImageUri: "@Model.PlaceholderImageUri"
    });
</script>
